@import "tailwindcss";

:root {
  --font-sans: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body,
#app {
  font-family: var(--font-sans);
}

@theme {
  --color-primary: #b08f6c;
  --color-primary-dark: #8f7354;

  --color-secondary: #ffffff;
  --color-secondary-dark: #e5e5e5;
}

/* BUTTON VARIANTS */

/* your fade + nprogress code can stay as-is */


.fade-enter-active,
.fade-leave-active {
  transition: opacity 120ms ease-out, transform 120ms ease-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-2px);
}

/* Progress bar color */
#nprogress .bar {
  background: var(--color-primary) !important;
}

/* Glow effect */
#nprogress .peg {
  box-shadow: 
    0 0 10px var(--color-primary), 
    0 0 5px var(--color-primary) !important;
}

/* Hide spinner */
#nprogress .spinner {
  display: none !important;
}
button {
  cursor: pointer;

}
